* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  color: #ddd;
  font-family: monospace;
}

input:not([type="checkbox"]), button {
  padding: 30px;
  width: 100%;
}

input {
  font-size: 2em;
}

input[type="range"] {
  padding: 0;
}

.container {
  background-color: #222c;
  left: 50%;
  margin: auto;
  padding: 10px 20px 20px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
}

.radar {
  text-align: center;
}

.contentContainer button {
  background-color: #333;
  border: 1px solid #0f0;
  color: #ddd;
}

.contentContainer button.payload {
  border: 1px solid #f00;
}

.contentContainer + .contentContainer {
  margin-top: 10px;
}

.extraPadding {
  padding: 40px;
}
